<!doctype html>
<html lang="en" ng-app="todomvc">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>AngularJS - TodoMVC</title>
      <link rel="stylesheet" href="assets/base.css">
      <style>[ng-cloak] {display: none}</style>
   </head>
   <body>
      <section id="todoapp" ng-controller="TodoController">
         <header id="header">
            <h1>todos</h1>
         </header>
         <section id="main">
            <ul id="todo-list">
               <li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
                  <div class="view">
                     <input class="toggle" type="checkbox" ng-model="todo.completed">
                     <label>{{todo.title}}</label>
                     <button class="destroy"></button>
                  </div>
               </li>
            </ul>
         </section>
      </section>
      <footer id="info">
         
      </footer>
      <script src="js/demodata.js"></script>
      <script src="js/libs/angular/angular.js"></script>
      <script src="js/app_1.js"></script>
   </body>
</html>
